html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-image: url("grafiki/background-body.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

body section {
  width: 100vw;
  height: 100vh;
}

body .Naglowek {
  background-image: url("grafiki/tlo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Naglowek #Logo {
  color: white;
  font-family: Rationale;
  font-size: 4vh;
  margin-left: 20px;
  line-height: 8vh;
}

body .Naglowek #Podstrona, body .Naglowek #Podstrona2, body .Naglowek #Podstrona3, body .Naglowek #Podstrona4 {
  margin-right: 50px;
  color: white;
  font-family: Rationale;
  font-size: 20px;
  margin-top: 2vh;
}

body .Naglowek2 {
  background-image: url("grafiki/tlo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 8vh;
}

body .Naglowek2 #Ikona {
  height: 5vh;
  width: 5vh;
  padding: 1.5vh;
  margin-left: 25px;
}

body .Glowna_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Glowna_1 .PrawyBok {
  background-image: url("grafiki/prawyBok.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 84vh;
  width: 50vw;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

body .Glowna_1 .PrawyBok .prawyTekst {
  height: 60vh;
  width: 35vw;
  text-align: center;
  padding: 20vh 0 0 0;
  color: white;
  font-size: 20vh;
  font-family: Rationale;
  float: right;
}

body .Glowna_1 .PrawyBok .pionowyTekst {
  width: 8vw;
  margin-left: 5vw;
  text-align: center;
  color: white;
  font-size: 10vh;
  font-family: Rationale;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: sideways;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  float: left;
}

body .Glowna_1 .LewyBok {
  height: 80vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Glowna_1 .LewyBok .Animacja1 {
  text-align: center;
  font-family: Rationale;
  color: #969090;
  font-size: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3vw;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.9) scaleX(0.9);
          transform: scaleY(0.9) scaleX(0.9);
}

body .Glowna_1 .LewyBok .Animacja1 .Akutalnosci {
  font-size: 36px;
  background-color: #AFAEAE;
  width: 10vw;
  height: 55vh;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

body .Glowna_1 .LewyBok .Animacja1 .Akutalnosci .Akutalnosci_PNG {
  margin: 1vw;
  width: 8vw;
  height: 8vw;
}

body .dataKarnet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .dataKarnet .tekstDatakarnet {
  width: 100%;
  height: 5vh;
  margin-top: 1vh;
  color: #FFFFFF;
  text-align: center;
  font-family: Rationale;
  font-size: 3vw;
}

body .dataKarnet .dataKarentInput {
  border: 5px solid rgba(0, 0, 0, 0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 2vh 0;
  width: 14vw;
  height: 5vh;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  font-family: Rationale;
  font-size: 3vh;
}

body .sekcja_1, body .sekcja_2 {
  background-image: url("grafiki/background-body.png");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

body .rotated-background {
  background-image: url("grafiki/background-body-rotate.png");
}

body .Glowna_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Glowna_2 .PrawyBok {
  width: 70vw;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .Glowna_2 .PrawyBok .KartaKarnet {
  width: 12vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-image: url("grafiki/kartaKarnet.png");
  background-size: 12vw 50vh;
  -webkit-box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

body .Glowna_2 .PrawyBok .KartaKarnet .Tytul-Karent {
  margin: 0 1.9vw 1.9vw 1.9vw;
  font-size: 2.5vw;
  color: #FFFFFF;
  text-align: center;
  font-family: Rationale;
}

body .Glowna_2 .PrawyBok .KartaKarnet hr {
  background-color: #FFFFFF;
}

body .Glowna_2 .PrawyBok .KartaKarnet .opis-Karnet {
  margin: 0.4vw;
  font-size: 1.5vw;
  color: #FFFFFF;
  text-align: left;
  font-family: Rationale;
}

body .Glowna_2 .PrawyBok .KartaKarnet .cena-Karnet {
  margin: 0.5vw;
  font-size: 2.2vw;
  color: #FFFFFF;
  text-align: center;
  font-family: Rationale;
}

body .Glowna_2 .PrawyBok a {
  margin: 0;
  padding: 0;
}

body .Glowna_2 .LewyBok {
  height: 0vh;
  width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Glowna_2 .LewyBok .Animacja2 {
  margin-left: 2vw;
  height: 50vh;
  width: 35vw;
  text-align: center;
  font-family: Rationale;
  color: #969090;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.9) scaleX(0.9);
          transform: scaleY(0.9) scaleX(0.9);
}

body .Glowna_3 {
  height: 71vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .Glowna_3 .LewyBok {
  width: 50vw;
  height: 71vh;
}

body .Glowna_3 .LewyBok .Animacja3 {
  margin: 15vh;
  margin-left: 2vw;
  height: 50vh;
  width: 50vw;
  text-align: center;
  font-family: Rationale;
  color: #969090;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.9) scaleX(0.9);
          transform: scaleY(0.9) scaleX(0.9);
}

body .Glowna_3 .PrawyBok {
  width: 50vw;
  height: 71vh;
}

body .Glowna_3 .PrawyBok .PrawyBokCalosc {
  margin-top: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40vw;
  height: 60vh;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Glowna_3 .daneZakup {
  width: 30vw;
  height: 40vh;
  background-image: url("grafiki/dane-zakup.png");
  background-size: 30vw 40vh;
}

body .Glowna_3 .daneZakup .linia_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

body .Glowna_3 .daneZakup .linia_2, body .Glowna_3 .daneZakup .linia_3, body .Glowna_3 .daneZakup .linia_4, body .Glowna_3 .daneZakup .linia_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 0;
}

body .Glowna_3 .daneZakup .shortinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 10vw;
  height: 5vh;
}

body .Glowna_3 .daneZakup .midinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 15vw;
  height: 5vh;
}

body .Glowna_3 .daneZakup .halfinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 13vw;
  height: 5vh;
}

body .Glowna_3 .daneZakup .long {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 27.5vw;
  height: 5vh;
}

body .Glowna_3 .dalej {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  text-align: center;
  line-height: 5vh;
}

body .Glowna_3 .dalej .przyciskDalej {
  border-radius: 5px;
  width: 10vw;
  height: 5vh;
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background: #C4C4C4;
}

body .Glowna_4 {
  height: 71vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .Glowna_4 .LewyBok {
  width: 50vw;
  height: 71vh;
}

body .Glowna_4 .LewyBok .Animacja4 {
  margin: 15vh;
  height: 50vh;
  width: 50vw;
  text-align: center;
  font-family: Rationale;
  color: #969090;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.9) scaleX(0.9);
          transform: scaleY(0.9) scaleX(0.9);
}

body .Glowna_4 .PrawyBok {
  width: 50vw;
  height: 71vh;
}

body .Glowna_4 .PrawyBok .PrawyBokCalosc {
  margin-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40vw;
  height: 60vh;
  background-image: url("grafiki/tlo-platnosc.png");
  background-size: 40vw 60vh;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Glowna_4 .PrawyBok .danePlatnicze {
  margin-top: 15vh;
  width: 30vw;
  height: 20vh;
  background-image: url("grafiki/formularz-dane-platnicze.png");
  background-size: 30vw 20vh;
}

body .Glowna_4 .PrawyBok .danePlatnicze .linia_1, body .Glowna_4 .PrawyBok .danePlatnicze .linia_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 0;
}

body .Glowna_4 .PrawyBok .danePlatnicze .linia_1 .halfinput, body .Glowna_4 .PrawyBok .danePlatnicze .linia_2 .halfinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 13vw;
  height: 5vh;
}

body .Glowna_4 .PrawyBok .danePlatnicze .przyciskKup {
  font-size: 1.4vw;
  font-family: Rationale;
  color: #FFFFFF;
  width: 30vw;
  height: 5vh;
  background-image: url("grafiki/przycisk-kup.png");
}

body .Glowna_4 .PrawyBok .daneZakup {
  width: 30vw;
  height: 40vh;
  background-image: url("grafiki/dane-zakup.png");
  background-size: 30vw 40vh;
}

body .Glowna_4 .PrawyBok .daneZakup .linia_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
}

body .Glowna_4 .PrawyBok .daneZakup .linia_2, body .Glowna_4 .PrawyBok .daneZakup .linia_3, body .Glowna_4 .PrawyBok .daneZakup .linia_4, body .Glowna_4 .PrawyBok .daneZakup .linia_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 0;
}

body .Glowna_4 .PrawyBok .daneZakup .shortinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 10vw;
  height: 5vh;
}

body .Glowna_4 .PrawyBok .daneZakup .midinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 15vw;
  height: 5vh;
}

body .Glowna_4 .PrawyBok .daneZakup .halfinput {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 13vw;
  height: 5vh;
}

body .Glowna_4 .PrawyBok .daneZakup .long {
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background-color: #C4C4C4;
  border: none;
  width: 27.5vw;
  height: 5vh;
}

body .Glowna_4 .PrawyBok .dalej {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  text-align: center;
  line-height: 5vh;
}

body .Glowna_4 .PrawyBok .dalej .przyciskDalej {
  border-radius: 5px;
  width: 10vw;
  height: 5vh;
  color: #000000;
  font-size: 1.4vw;
  font-family: Rationale;
  background: #C4C4C4;
}

body .Glowna_5 {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .Glowna_5 .LewyBok {
  width: 30vw;
  height: 70vh;
}

body .Glowna_5 .LewyBok .Animacja5 {
  margin: 17vh 2vw;
  height: 50vh;
  width: 30vw;
  text-align: center;
  font-family: Rationale;
  color: #969090;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.9) scaleX(0.9);
          transform: scaleY(0.9) scaleX(0.9);
}

body .Glowna_5 .PrawyBok {
  width: 70vw;
  height: 70vh;
}

body .Glowna_5 .PrawyBok .PrawyBokCalosc {
  margin-top: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 55vw;
  height: 60vh;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .Glowna_5 .PrawyBok .PrawyBokCalosc .napisPodsumowanie {
  width: 55vw;
  height: 8vh;
  text-align: right;
  color: #FFFFFF;
  font-family: Rationale;
  font-size: 3vw;
}

body .Glowna_5 .PrawyBok .PrawyBokCalosc .napisPodsumowanie .tekstPodsumowanie {
  padding: 3vw 12vw 0 0;
}

body .Glowna_5 .PrawyBok .PrawyBokCalosc .napisPodsumowanie .wartosciPodsumowanie {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vw;
}

body .Glowna_5 .PrawyBok .PrawyBokCalosc .napisPodsumowanie line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

body .Glowna_5 .PrawyBok .PrawyBokCalosc .Podsumowanie {
  width: 55vw;
  height: 52vh;
  background-image: url("grafiki/podsumowanie-tlo.png");
  background-size: 55vw;
  background-repeat: no-repeat;
}

body .Glowna_6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .Glowna_6 .LewyBok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
  height: 84vh;
}

body .Glowna_6 .LewyBok .zajeciaMenu {
  width: 30vw;
  height: 84vh;
  background-repeat: no-repeat;
  background-size: 43vh;
  background-image: url("grafiki/zajecia.png");
}

body .Glowna_6 .PrawyBok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50vw;
  height: 84vh;
}

body .Glowna_6 .PrawyBok table tr td {
  width: 100px;
  height: 75px;
  background-color: white;
}

body .Glowna_6 .PrawyBok table tr #empty {
  background: none;
}

body .Proces {
  padding-top: 3vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 10vh;
}

body .Proces .box {
  width: 15vw;
  height: 10vh;
  background-color: #C4C4C4;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body .Proces .box .tekst-box {
  font-size: 2.5vw;
  line-height: 10vh;
  font-family: Rationale;
  text-align: center;
  color: #A39C9C;
}

body .Proces .box .two-line {
  line-height: 5vh;
}

body .Proces .strzalka {
  width: 10vw;
  height: 10vh;
  font-size: 3vw;
  line-height: 10vh;
  text-align: center;
}

body a:visited, body a:link {
  text-decoration: none;
  color: white;
}

* {
  padding: 0px;
  margin: 0px;
}

#Zaloguj {
  color: #928B8B;
  font-family: Rationale;
  font-size: 6.8vh;
  float: right;
  padding-right: 35vh;
  padding-top: 12vh;
}

#Kwiatek {
  float: right;
  margin-top: 0vh;
}

#Komputer {
  position: absolute;
  padding-top: 0.5vh;
  margin-left: 0vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.loginForm {
  padding-top: 130px;
  width: 50vw;
  height: 20vh;
  font-family: Rationale;
  font-size: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginForm .tlo-logowanie {
  width: 50vw;
  height: 70vh;
  background-image: url("grafiki/komputer.png");
  background-size: 50vw 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loginForm .tlo-logowanie-text {
  margin-left: 8vw;
  padding-top: 12vh;
}

.loginForm .tlo-logowanie-text input[type=text] {
  font-family: Rationale;
  color: #000000;
}

#Logow {
  position: absolute;
  padding-left: 50vw;
  padding-top: 15vh;
}

#Zarejestruj {
  text-align: center;
  color: #928B8B;
  font-family: Rationale;
  font-size: 6.8vh;
  padding-top: 3vh;
}

#Lewa {
  height: 71vh;
  width: 20vw;
  background-image: url("grafiki/lewa.png");
  background-size: 25vh;
  background-repeat: no-repeat;
}

#Srodek {
  height: 71vh;
  width: 50vw;
  background-image: url("grafiki/prawa.png");
  background-size: 50vw;
  background-repeat: no-repeat;
}

#Prawa {
  padding-top: 3vh;
  padding-left: 20vw;
  position: absolute;
  padding-right: 10vw;
}

#rejestrowanie {
  padding: 90px 430px;
  width: 50vw;
}

#rejestrowanie input[type=text], #rejestrowanie input[type=tel], #rejestrowanie input[type=password], #rejestrowanie select {
  margin: 0 0 7.25px 0;
  background: none;
  border: none;
}

#Onas {
  padding-top: 15vh;
}

#ONAS {
  font-size: 3vw;
  font-family: Rationale;
  padding-top: 20vw;
  color: white;
  position: absolute;
  padding-left: 10vw;
}

#Team {
  position: absolute;
  -webkit-transform: scale(0.672);
          transform: scale(0.672);
}

#Zespol {
  position: absolute;
  padding-top: 150vh;
  height: 100vh;
  padding-left: 20vw;
}

#Kwiatt {
  position: absolute;
  padding-top: 40vh;
}

#Vector {
  float: right;
}

#Kalen {
  padding-top: 30vh;
  padding-left: 20vw;
}

#Kalend {
  font-size: 3vw;
  font-family: Rationale;
  padding-top: 25vw;
  color: #928B8B;
  position: absolute;
  padding-left: 43vw;
}

#Kalendarz {
  padding-top: 50vh;
  padding-left: 17vw;
  height: 100vh;
  position: absolute;
}

#Kropka {
  position: absolute;
  padding-top: 20vh;
  padding-left: 5vw;
}

#Lokalizacja {
  font-size: 3vw;
  font-family: Rationale;
  padding-top: 30vw;
  color: #928B8B;
  position: absolute;
  padding-left: 65vw;
}

#Lokalizacja1 {
  position: absolute;
  padding-top: 70vh;
  padding-left: 50vw;
}

#Lokalizacja2 {
  padding-top: 65vh;
  padding-left: 3vw;
  position: absolute;
}

#Dane {
  padding-top: 30vh;
  padding-left: 3vw;
  position: absolute;
}

#Dane2 {
  padding-top: 35vh;
  padding-left: 40vw;
}

#Drzewka {
  padding-top: 5vh;
}
/*# sourceMappingURL=style.css.map */