
html{
    scroll-behavior: smooth;
}
body{
    section{
        width: 100vw;
        height: 100vh;
    }
    overflow-x: hidden;
    background-image: url("grafiki/background-body.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    
    .Naglowek{
        background-image: url('grafiki/tlo2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:8vh;
        display: flex;

        #Logo{
            color: white;
            font-family: Rationale;
            font-size: 4vh;
            margin-left: 20px;
            line-height: 8vh;
        }

        #Podstrona, #Podstrona2, #Podstrona3, #Podstrona4{
            margin-right: 50px;
            color: white;
            font-family: Rationale;
            font-size: 20px;
            margin-top: 2vh;
        }
    }

    .Naglowek2{
        background-image: url('grafiki/tlo4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height:8vh;
        #Ikona{
            height: 5vh;
            width: 5vh;
            padding:1.5vh;
            margin-left:25px;
        }
    }
    .Glowna_1{
        display: flex;
        .PrawyBok{
            background-image: url('grafiki/prawyBok.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 84vh;
            width: 50vw;
            float: right;
            display: flex;
            padding: 0;
            .prawyTekst{
                height: 60vh;
                width: 35vw;
                text-align: center;
                padding: 20vh 0 0 0;
                color: white;
                font-size: 20vh;
                font-family: Rationale;
                float: right;
            }
            .pionowyTekst{
                width: 8vw;
                margin-left: 5vw;
                text-align: center;
                color: white;
                font-size: 10vh;
                font-family: Rationale;
                writing-mode: vertical-rl;
                text-orientation: sideways;
                transform: rotateZ(180deg);
                float: left;
            }
        }
        .LewyBok{
            height: 80vh;
            width: 50vw;
            display: flex;
            .Animacja1{
                text-align: center;
                font-family: Rationale;
                color: #969090;
                font-size: 2vw;
                display: flex;
                margin-left: 3vw;
                transform-origin: 0 0;
                transform: scaleY(0.9) scaleX(0.9);
                .Akutalnosci{
                    font-size: 36px;
                    background-color: #AFAEAE;
                    width: 10vw;
                    height: 55vh;
                    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
                    .Akutalnosci_PNG{
                        margin: 1vw;
                        width: 8vw;
                        height: 8vw;
                    }
                }
            }
        }
    }
    .dataKarnet{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .tekstDatakarnet{
            width: 100%;
            height: 5vh;
            margin-top: 1vh;
            color: #FFFFFF;
            text-align: center;
            font-family: Rationale;
            font-size: 3vw;
        }
        .dataKarentInput{
            border: 5px solid rgba(0, 0, 0, 0.6);
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 2vh 0;
            width: 14vw;
            height: 5vh;
            background-color: #FFFFFF;
            color: #000000;
            text-align: center;
            font-family: Rationale;
            font-size: 3vh;
        }
    }
    .sekcja_1 ,.sekcja_2{
        background-image: url("grafiki/background-body.png");
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
    }
    .rotated-background{
        background-image: url("grafiki/background-body-rotate.png");
    }
    .Glowna_2{
        display: flex;
        .PrawyBok{
            width: 70vw;
            height: 40vh;
            display: flex;
            justify-content: space-around;
            .KartaKarnet{
                width: 12vw;
                height: 50vh;
                background-repeat: no-repeat;
                background-image: url("grafiki/kartaKarnet.png");
                background-size: 12vw 50vh;
                box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
                .Tytul-Karent{
                    margin: 0 1.9vw 1.9vw 1.9vw;
                    font-size:2.5vw;
                    color: #FFFFFF;
                    text-align: center;
                    font-family: Rationale;
                }
                hr{
                    background-color: #FFFFFF;
                }
                .opis-Karnet{
                    margin: 0.4vw;
                    font-size:1.5vw;
                    color: #FFFFFF;
                    text-align: left;
                    font-family: Rationale;
                }
                .cena-Karnet{
                    margin: 0.5vw;
                    font-size:2.2vw;
                    color: #FFFFFF;
                    text-align: center;
                    font-family: Rationale;
                }
            }
            a{
                margin: 0;
                padding: 0;
            }
        }
        .LewyBok{
            height: 0vh;
            width: 30vw;
            display: flex;
            .Animacja2{
                margin-left:2vw;
                height: 50vh;
                width: 35vw;
                text-align: center;
                font-family: Rationale;
                color: #969090;
                transform-origin: 0 0;
                transform: scaleY(0.9) scaleX(0.9);
            }
        }
    }
    .Glowna_3{
        height: 71vh;
        display: flex;
        justify-content: space-around;
        .LewyBok{
            width: 50vw;
            height: 71vh;
            .Animacja3{
                margin: 15vh;
                margin-left:2vw;
                height: 50vh;
                width: 50vw;
                text-align: center;
                font-family: Rationale;
                color: #969090;
                transform-origin: 0 0;
                transform: scaleY(0.9) scaleX(0.9);
            }
        }
        .PrawyBok{
            width: 50vw;
            height: 71vh;
            .PrawyBokCalosc{
                margin-top: 12vh;
                display: flex;
                justify-content: space-around;
                width: 40vw;
                height: 60vh;
                //background-image: url("grafiki/tlo-platnosc.png");
                //background-size: 40vw 60vh;
                display: flex;
                flex-wrap: wrap;
            }
            
            }
                .daneZakup{
                    width: 30vw;
                    height: 40vh;
                    background-image: url("grafiki/dane-zakup.png");
                    background-size: 30vw 40vh;
                    .linia_1{
                        display: flex;
                        justify-content: center;
                        margin: 25px 0;
                    }
                    .linia_2, .linia_3, .linia_4, .linia_5{
                        display: flex;
                        justify-content: space-around;
                        margin: 25px 0;
                    }
                    .shortinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 10vw;
                        height: 5vh;
                    }
                    .midinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 15vw;
                        height: 5vh;
                    }
                    .halfinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 13vw;
                        height: 5vh;
                    }
                    .long{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 27.5vw;
                        height: 5vh;
                    }
                }
                .dalej{
                    display: flex;
                    justify-content: center;
                    width: 30vw;
                    text-align: center;
                    line-height: 5vh;
                   
                    .przyciskDalej{
                        border-radius: 5px;
                        width: 10vw;
                        height: 5vh;
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background: #C4C4C4;
                    }
                }
    }
    .Glowna_4{
        height: 71vh;
        display: flex;
        justify-content: space-around;
        .LewyBok{
            width: 50vw;
            height: 71vh;
            .Animacja4{
                margin: 15vh;
                height: 50vh;
                width: 50vw;
                text-align: center;
                font-family: Rationale;
                color: #969090;
                transform-origin: 0 0;
                transform: scaleY(0.9) scaleX(0.9);
            }
        }
        .PrawyBok{
            width: 50vw;
            height: 71vh;
            .PrawyBokCalosc{
                margin-top: 6vh;
                display: flex;
                justify-content: space-around;
                width: 40vw;
                height: 60vh;
                background-image: url("grafiki/tlo-platnosc.png");
                background-size: 40vw 60vh;
                display: flex;
                flex-wrap: wrap;
            }
            .danePlatnicze{
                margin-top: 15vh;
                width: 30vw;
                height: 20vh;
                background-image: url("grafiki/formularz-dane-platnicze.png");
                background-size: 30vw 20vh;
                .linia_1, .linia_2{
                    display: flex;
                    justify-content: space-around;
                    margin: 25px 0;
                    .halfinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 13vw;
                        height: 5vh;
                    }
                }
                .przyciskKup{
                    font-size: 1.4vw;
                    font-family: Rationale;
                    color: #FFFFFF;
                    width: 30vw;
                    height: 5vh;
                    background-image: url("grafiki/przycisk-kup.png");
                }
            }
                .daneZakup{
                    width: 30vw;
                    height: 40vh;
                    background-image: url("grafiki/dane-zakup.png");
                    background-size: 30vw 40vh;
                    .linia_1{
                        display: flex;
                        justify-content: center;
                        margin: 25px 0;
                    }
                    .linia_2, .linia_3, .linia_4, .linia_5{
                        display: flex;
                        justify-content: space-around;
                        margin: 25px 0;
                    }
                    .shortinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 10vw;
                        height: 5vh;
                    }
                    .midinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 15vw;
                        height: 5vh;
                    }
                    .halfinput{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 13vw;
                        height: 5vh;
                    }
                    .long{
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background-color: #C4C4C4;
                        border: none;
                        width: 27.5vw;
                        height: 5vh;
                    }
                }
                .dalej{
                    display: flex;
                    justify-content: center;
                    width: 30vw;
                    text-align: center;
                    line-height: 5vh;
                   
                    .przyciskDalej{
                        border-radius: 5px;
                        width: 10vw;
                        height: 5vh;
                        color: #000000;
                        font-size: 1.4vw;
                        font-family: Rationale;
                        background: #C4C4C4;
                    }
                }
            }
    }
    .Glowna_5{
        height: 71vh;
        display: flex;
        justify-content: space-around;
        .LewyBok{
            width: 50vw;
            height: 71vh;
            .Animacja5{
                margin: 17vh 2vw;
                height: 50vh;
                width: 30vw;
                text-align: center;
                font-family: Rationale;
                color: #969090;
                transform-origin: 0 0;
                transform: scaleY(0.9) scaleX(0.9);
            }
        }
        .PrawyBok{
            width: 50vw;
            height: 71vh;
            .PrawyBokCalosc{
                margin-top: 6vh;
                display: flex;
                justify-content: space-around;
                width: 40vw;
                height: 60vh;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    
    .Proces{
        padding-top: 3vh;
        justify-content: center;
        display: flex;
        width: 100vw;
        height: 10vh;
        .box{
            width: 15vw;
            height: 10vh;
            background-color: #C4C4C4;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            .tekst-box{
                font-size: 2.5vw;
                line-height: 10vh;
                font-family: Rationale;
                text-align: center;
                color: #A39C9C;
            }
            .two-line{
                line-height: 5vh;
            }
        }
        .strzalka{
            width: 10vw;
            height: 10vh;
            font-size: 3vw;
            line-height: 10vh;
            text-align: center;
        }
    }
    a:visited, a:link{
        text-decoration: none;
        color: white;
    }
}
*{
    padding: 0px;
    margin: 0px;
}
#Zaloguj{
	color: #928B8B;
	font-family: Rationale;
	font-size: 6.8vh;
	float: right;
	padding-right: 25vh;
	padding-top: 7.4vh;
	
}
#Kwiatek{
	float:right;
	margin-top: 0vh;
	
}
#Komputer{
	
	position: absolute;
	padding-top: 0.5vh;
	margin-left: 0vw;
	flex-wrap: wrap;
}
form{
	position: absolute;
	padding-left: 17vw;
	padding-top: 14vh;
	font-family: Rationale;
	font-size: 2vh;
	
}
#Logow{
	position: absolute;
	padding-left: 50vw;
	padding-top: 15vh;
}
#Zarejestruj{
	text-align:center;
	color: #928B8B;
	font-family: Rationale;
	font-size: 6.8vh;
	padding-top: 3vh;
}
#Lewa{
	position: absolute;
}
#Prawa{
	padding-top: 3vh;
	padding-left:20vw;
	position: absolute;
	padding-right: 10vw;
}
#rejestrowanie{
	padding-left: 49vw;
	padding-top: 6vh;
}